@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}
.flex{
    display: flex;
}
h1.titulo{
    color: #fff;
    font-size: 5100px;
    text-align: center;
}
h1.titulo span{
    color: #3580db;
}

body {
    background-color: #dfdfdfaf;
}
p {
    color: #fff;
}


header {
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
nav ul a::after{
    background-color: rgb(230, 224, 244);
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s

}
.container {
    width: 100%;
    margin: 0 auto;
}
.caixa-centralizada {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}