@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body {
    
}

section,
footer {
    padding: 54px 0;
}

h2 {
    font-size: 33px;
}

p {
    color: #000000;
    font-size: 23px;    
}

.container {
    max-width: 14000px;
    margin: 0 auto;
    padding: 0 5%;
    background-size: cover;
}

.btn {

    color: white;
    padding: 30px 40px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
    font-size: 20px;
}

.btn:hover {
    background-color: #3580db;
}

header {
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a::after {
    content: "";
    background-color: rgb(230, 224, 244);
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    
}

.banner img{
    height: 550px;
    width: 1200px;
}

.question {
    margin: 50px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0
  }
  
  .question input,
  .question .answer { display: none }
  
  .question label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    width: 50%
  }
  
  .question input:checked ~ .answer {
    display: block
  }