body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#retangulo-superior {
    width: 150%;
    height: 150px;
    background-color: #276BBA;
    position: fixed;
    top: 0;
    left: 0;
}
#logo{
    width: 5rem;
    height: 5rem;
    border: 2px #bc2525;
    border-radius: 50%;
    align-items: left;
    margin-left: 1rem;
   margin-top: 0.8rem;
}
#text{
    color:#ffffff;
    padding: 5px;
    text-align: left;
}
#h1{
  
    padding: 50px;
    font-size: 450%;
     margin-left: 50px;
 
}
#retangulo-infer {
    width: 150%;
    height: 400px;
    background-color: #1a5293;
    position: fixed;
    top: 0;
    left: 0;
}
#text-block{
    padding: 10rem left;
    width: 10%;
    height: 50px;
    background-color: #b8b5b5;
    margin: center;

}