#retangulo-superior {
    width: 150%;
    height: 150px;
    background-color: #276BBA;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

#logo {
    width: 5rem;
    height: 5rem;
    border: 2px solid #bc2525;
    border-radius: 50%;
    margin-right: 1rem;
}

#text {
    color: #ffffff;
    padding: 5px;
    text-align: left;
}

#h1 {
    font-family: Georgia, serif;
    margin-left: 450px;
    font-size: 450%;
    padding: 20px;
    top: 21.5px;
}

#retangulo-infer {
    width: 150%;
    height: 200px;
    background-color: #1a5293;
    position: fixed;
    top: 150px; 
    left: 0
    
}

/*area do botoes*/

#botao {

        position: fixed;
        bottom: 15px; 
        left: 17.9%;
        transform: translateX(-50%);
        background-color: #532bc0;
        color: white;
        padding: 50px 60px;  /* Aumentando muito o padding */
        font-size: 36px;      /* Aumentando muito o tamanho da fonte */
        border: none;
        border-radius: 10px;  /* Aumentando o border-radius para proporcionalidade */
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
       }
    
    #botao:hover {
        background-color: #630ec5;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    

#botao:hover {
    background-color: #630ec5;
}

#botao3{
    position:fixed;
    bottom: 165px;
    left: 17.8%;
    transform: translateX(-50%);
    background-color: #532bc0;
    color: white;
    padding: 50px 139px;  /* Aumentando muito o padding */
    font-size: 36px;      /* Aumentando muito o tamanho da fonte */
    border: none;
    border-radius: 10px;  /* Aumentando o border-radius para proporcionalidade */
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#botao3:hover{
    background-color: #8042c7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#botao2{
    position:fixed;
    bottom: 320px;
    left: 17.8%;
    transform: translateX(-50%);
    background-color: #532bc0;
    color: white;
    padding: 50px 100px;  /* Aumentando muito o padding */
    font-size: 36px;      /* Aumentando muito o tamanho da fonte */
    border: none;
    border-radius: 10px;  /* Aumentando o border-radius para proporcionalidade */
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#botao2:hover{
    background-color: #975dda;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*botoes do lado direito*/
#botao4{
    position:fixed;
    bottom: 15px;
    left: 82.2%;
    transform: translateX(-50%);
    background-color: #532bc0;
    color: white;
    padding: 50px 150px;  /* Aumentando muito o padding */
    font-size: 36px;      /* Aumentando muito o tamanho da fonte */
    border: none;
    border-radius: 10px;  /* Aumentando o border-radius para proporcionalidade */
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#botao4:hover{
    background-color: #975dda;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#botao5{
    position:fixed;
    bottom: 165px;
    left: 82.2%;
    transform: translateX(-50%);
    background-color: #532bc0;
    color: white;
    padding: 50px 116px;  /* Aumentando muito o padding */
    font-size: 36px;      /* Aumentando muito o tamanho da fonte */
    border: none;
    border-radius: 10px;  /* Aumentando o border-radius para proporcionalidade */
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#botao5:hover{
    background-color: #975dda;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#botao6{
    position:fixed;
    bottom: 320px;
    left: 82%;
    transform: translateX(-50%);
    background-color: #532bc0;
    color: white;
    padding: 30px 140px;  /* Aumentando muito o padding */
    font-size: 36px;      /* Aumentando muito o tamanho da fonte */
    border: none;
    border-radius: 10px;  /* Aumentando o border-radius para proporcionalidade */
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#botao6:hover{
    background-color: #975dda;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
